<section class="section section-color" style="background-color: {{ block.settings.section_background }}" >

    <div class="container">
        <div class="textblock">
            <div class="section-content">{{ block.settings.richtext }}</div>
        </div>
    </div>

</section>
