<section class="section section-color" style="background-color: {{ block.settings.section_background }}" >

    <div class="container">
        <div class="text-entry">
            <h2 class="section-title">{{ block.settings.title }}</h2>
            <div class="section-content">{{ block.settings.text }}</div>
            <div class="divider top"></div>
        </div>
    </div>

</section>
