<form action="/search" method="get" class="input-group search-bar search-bar-wrapper" role="search">

    <button class="search-bar-icon" type="submit">
        <img src="{{ 'search-icon.png' | asset_url }}" />
    </button>

    <input type="search" name="q"
           value="{{ search.terms | escape }}"
           placeholder="Search for an article..."
           class="input-group-field input-underline input-underline--primary search-bar-input"
           aria-label="{{ 'general.search.placeholder' | t }}">

</form>