<div class="section section-gray" >

    <div class="container-fluid">
        <div class="text-entry">
            <h2 class="section-title">
                Want more sales?<br>Follow our 8-point guide.
            </h2>
            <div class="section-content">
                Subscribe to our newsletter and recieve our 8-point actionable guide for increasing conversions and building trust with your customers on any Shopify product page for FREE.
            </div>
        </div>

        <script async data-uid="856d581d34" src="https://f.convertkit.com/856d581d34/037b1f1d2d.js"></script>

    </div>

</div>
