<div class="search-bar-lightbox hide">
  <div class="mx--auto lg--one-half">
    <form action="/search" method="get" class="input-group search-bar " role="search">
      <input type="hidden" name="type" value="product">
      <input type="search" name="q" value="{{ search.terms | escape }}" placeholder="{{ 'general.search.placeholder' | t }}" class="search-input input-group-field input-underline input-underline--primary font-size--xl" aria-label="{{ 'general.search.placeholder' | t }}">
        <span class="search-btn search--icon--btn">
          <button type="submit" class="block font-size--xl">
            {% include 'svg-icon', icon: 'search' %}
          </button>
        </span>
    </form>
  </div>
</div>


<style>
  input::placeholder
  {
    color: darkgray;
  }
  input::-moz-placeholder {
    color: darkgray !important;
  }
</style>