{% for block in section.blocks %}
    <div class="grid-item" {{ block.shopify_attributes }}>
    {% case block.type %}

        {% when 'fullheightsection' %}
        {% include 'e_snippet__topbanner' %}

    {% endcase %}
    </div>
{% endfor %}



{% schema %}
{
    "blocks": [
        {
            "name": "Electric",
            "type": "fullheightsection",
            "settings": [
                {
                    "type": "text",
                    "id": "title",
                    "label": "Heading",
                    "default": "Need help growing your Shopify sales?"
                },
                {
                    "type": "text",
                    "id": "subheading",
                    "label": "Subheading",
                    "default": "We Are Shopify Experts"
                },
                {
                    "type":      "range",
                    "id":        "image_transparency",
                    "min":       0,
                    "max":       1,
                    "step":      0.1,
                    "label":     "Image Transparency",
                    "default":   0.2
                },
                {
                    "type": "color",
                    "id": "section_background",
                    "label": "Section Color",
                    "default": "#1e1e1e"
                },
                {
                    "type": "image_picker",
                    "id": "background",
                    "label": "background Image"
                }
            ]
        }
    ]
}
{% endschema %}
