<div class="et">

    <section class="banner banner-page" style="background-color: #51426B ">
        <div class="banner--image" style="  background-image: url({{ 'bloglist-services.jpg' | asset_url }});
                                            opacity:0.3;
                                        "></div>
        <div class="full-height-inner">
            <div class="container banner--container banner--container--large">
                <div class="text-center color-white">
                    <div class="banner--text">
                        <h1>Services</h1>
                        <hr class="divider">
                        <h2>No hidden fees. No hourly rate.</h2>
                        <p>Electric Eye believes in transparent pricing. We have custom built our service offerings to be the best value for business owners and give you the power to stay in budget.</p>
                        <p>We offer continued monthly support with our Shopify Expert Retainers, as well as project based services that you can choose a la carte. Start with roadmapping and we'll help you determine exactly what services your business needs to grow.</p>
                    </div>
                </div>
            </div>
        </div>

    </section>

    {% section 'blog-service-template' %}

    {% section 'electric__topimage-text-section' %}

</div>
