{% include 'shogun-products', content: page %}
<div class="getmore-page-blogs et">

  {% section 'getmore-blog-cover' %}

  {% section 'getmore-blog-template' %}

  {% section 'getmore-blog-service-template' %}

  {% section 'getmore-blog-work-template' %}

  {% section 'electric__newsletterform' %}

</div>
