<section class="getmore-meetup et">

  {% section 'getmore-meetup2-cover' %}
  {% section 'getmore-meetup2-imageWRichText' %}
  {% section 'getmore-meetup2-information' %}
  {% section 'getmore-meetup2-map' %}
  {% section 'getmore-meetup2-imageOWRichText' %}
  {% section 'getmore-meetup2-sponsors' %}
  {% section 'getmore-meetup2-videoPlayList' %}
  {% section 'getmore-meetup2-asked' %}
  {% section 'getmore-meetup2-ready' %}

</section>