<!-- /template/page.getmore-page.liquid -->

<section class="et getmore-page general-info">
  {% section 'getmore-cover' %}

  {% section 'getmore-service-offering' %}
  {% section 'getmore-benefits' %}
  {% section 'getmore-asked-question' %}
  {% section 'getmore-testimonials' %}
  {% section 'getmore-case-studies' %}

  {% section 'page-design-ready' %}
</section>
