<div class="et">
    {% section 'partnerships' %}
    <!-- {% section 'electric__colls-text' %} -->
    {% section 'electric__simple-gallery' %}
    {% section 'electric__topimage-text-section' %}
</div>
