<div class="et">
    {% section 'information' %}
    {% section 'faq' %}
    <!-- <section class="section section-gray">
        <div class="container-large text-area">
            {{ page.content }}
        </div>
    </section> -->
    <!-- {% section 'electric__collumn-text' %} -->
    {% section 'electric__topimage-text-section' %}
</div>
