<!-- /template/page.getmore-page.liquid -->

<section class="et getmore-page general-info">
  {% section 'marketing-cover' %}

  {% section 'marketing-service-offering' %}
  {% section 'marketing-benefits' %}
  {% section 'marketing-asked-question' %}
  {% section 'marketing-testimonials' %}
  {% section 'marketing-case-studies' %}

  {% section 'page-marketing-ready' %}
</section>
