<!-- /template/page.getmore-meetup.liquid -->
<section class="getmore-meetup et">

  {% section 'getmore-meetup-cover' %}
  {% section 'getmore-meetup-imageWRichText' %}
  {% section 'getmore-meetup-information' %}
  {% section 'getmore-meetup-map' %}
  {% section 'getmore-meetup-imageOWRichText' %}
  {% section 'getmore-meetup-sponsors' %}
  {% section 'getmore-meetup-videoPlayList' %}
  {% section 'getmore-meetup-asked' %}
  {% section 'getmore-meetup-ready' %}

</section>